/* GLOBAL */

@font-face {
  font-family: Megrim;
  src: url("../fonts/Megrim-Regular.ttf");
}

@font-face {
  font-family: Recursive;
  src: url("../fonts/Recursive-Regular.ttf");
}

html,
a,
button {
  font-family: Recursive, serif;
}

a {
  color: white;
  text-decoration: none;
}
:root {
  --color_one: #a51a1a;
  --color_two: rgb(57, 62, 70);
  --color_three: #00adb5;
  --white: hsl(36, 100%, 99%);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color_one);
}

body {
  background-color: var(--color_two);
  color: var(--white);
  margin: 0 !important;
  overflow-y: overlay;
  scroll-behavior: smooth;
}
h2 {
  font-family: Megrim !important;
  font-weight: bolder !important;
}
h4 {
  font-weight: lighter;
  margin: 0;
}

.sectionContainer {
  max-width: 1100px;
  margin: auto;
  width: 100%;
  height: 100%;
  padding-inline: 2rem;
  box-sizing: border-box;
}

.sectionTitle {
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 3rem;
  margin: auto;
  width: min-content;
}

.mainContent {
  height: calc(100vh - 4rem);
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* ========================== HEADER CSS ========================== */

header {
  background-color: var(--color_one);
  color: var(--white);
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 2rem;
  position: sticky;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: 100;
}

.logo {
  margin-block: auto;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}

.headerContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  align-content: center;
}

.headerElement {
  font-size: 1.3rem;
  padding-inline: 1rem;
  margin-left: 0.5rem;
  position: relative;
  display: inline-block;
  padding-block: 0.3rem;
}
.headerElement a {
  cursor: pointer;
  font-family: Megrim, serif;
  font-weight: bold;
}

.headerElement > a:after {
  content: " ";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.headerElement > a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.headerContactMe {
  font-size: 1.3rem;
  margin-block: auto;
  padding-inline: 1.2rem;
  padding-block: 0.3rem;
  border: 2px solid var(--white);
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
}

.headerContactMe:hover {
  background-color: var(--white);
  color: var(--color_one);
}

.headerMargin {
  padding-top: 4rem;
}

.mobile--nav {
  display: none;
}
@media (max-width: 750px) {
  .mobile--nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
  }
  .headerContainer {
    background-color: var(--color_one);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding-top: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
  }
  .headerElement {
    justify-content: start;
    margin-right: 7rem;
    margin-bottom: 2rem;
  }
  .nav--closed {
    transition: 0.5s;
    right: -100%;
  }
  .nav--open {
    transition: 0.5s;
    width: 45%;
  }
  #js--closeNavbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 4rem;
    width: 100%;
  }
  #js--closeNavbar > img {
    padding-right: 2rem;
  }
  .disableBack {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0%;
    width: 100vh;
    z-index: 1;
  }
}
/* ===================== Footer ==================== */
footer {
  background-color: var(--color_one);
  height: 15rem;
}
footer > div {
  display: flex;
  flex-direction: row;
}

.footer--info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1.3rem;
  align-items: center;
  width: 50%;
}

.footer--links {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}

.footer--links a img {
  height: 5rem;
}

@media (max-width: 750px) {
  footer {
    padding-block: 4rem;
  }
  footer > div {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .footer--info {
    text-align: center;
    justify-content: center;
    font-size: 1rem;
  }
  .footer--links {
    justify-content: center;
  }
}
