/* ===================== Projects ==================== */

.projects .sectionContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: calc(100vh - 4rem);
  padding-top: 2rem;
}
.projects h2 {
  font-size: 5rem;
  margin: 2rem auto;
  font-weight: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
}

.projectList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project--item {
  width: 30%;
  background-color: var(--white);
  overflow: hidden;
  margin: 1rem 0;
  position: relative;
  border-radius: 1rem;
}

.project--item:hover {
  cursor: pointer;
}

.project--item:hover > .imgContainer .description {
  opacity: 1;
}

.project--item .imgContainer {
  background-color: var(--white);
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color_two);
  position: relative;
  margin: auto;
}

.project--item img {
  height: 100%;
  box-sizing: border-box;
  object-fit: contain;
  padding: 1rem;
  width: 100%;
}
.project--item .title {
  padding: 2rem 0;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.imgContainer .description {
  background-color: rgba(57, 62, 70, 0.9);
  color: white;
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  top: 0;
  transition: 0.3s;
  padding: 2rem 1rem;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.4rem;
}

@media (max-width: 950px) {
  .projects h2 {
    padding-bottom: 2rem;
  }
  .projectList {
    flex-direction: column;
  }
  .project--item {
    width: 60%;
    margin: auto;
    margin-bottom: 4rem;
  }
  .imgContainer {
    flex-direction: column;
    justify-content: space-between !important;
  }
  .description {
    position: relative !important;
    opacity: 1 !important;
    background-color: var(--white) !important;
    color: black !important;
    height: min-content !important;
    border-top: 1px solid var(--color_two);
  }
}
